<form id="contato-simples" class="form-control gap-4 p-4 rounded-md bg-base-300 mb-4" method="POST" data-netlify="true" name="contato-simples" data-netlify-recaptcha="true">
    <input name="name" type="text" placeholder="Seu nome" class="input w-full bg-base" required/>
    <input name="email" type="email" placeholder="Seu e-mail" class="input w-full" required/>
    <textarea name="msg" placeholder="Sua Mensagem" rows="6" class="textarea" required/>
    <button type="submit" class="btn btn-accent">Enviar</button>
    <div data-netlify-recaptcha="true"></div>
</form>